

.primaryNav > ul > li > a {
    color: white;
    text-decoration: none;
}

.subheader1, .siteTitle {
    text-align:center;
}

h1, h2 {
    font-family: "Rock Salt";
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

.primaryNav > ul > li:hover {
    box-shadow: 0px 0px 15px -1px #720404
}

.subheader1, .subheader2 {
    display:none;
}



.mainHeader {
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom:1rem;
    max-height:20rem;
    background-color: var(--reb-mute);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.75fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "logoImage siteTitle siteTitle"
      "primaryNav primaryNav primaryNav";
}

.logoImage {
    margin-top: 1.75rem;
    padding: 0.5rem;
    max-width: 120px;
    grid-area: logoImage;
}

.primaryNav {
    grid-area: primaryNav;
}

.siteTitle {
    padding:0.25rem;
    grid-area: siteTitle;
}

.primaryNav > ul{
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}

.primaryNav > ul > li {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
    border-radius: 10px;
    background-color: var(--reb);
}

#break {
    display: block;
}

@media screen and (min-width: 576px) and (max-width: 810px) {

    h1 {
        font-size: 1.5rem;
    }

    .mainHeader {
        max-height: 15rem;
    }

    #break {
        display: none;
    }
}


@media screen and (min-width: 810px) {
    .primaryNav > ul > li { 
        font-size: 2rem;
    }

    .mainHeader {
        -webkit-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.92); 
        box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.92);
    }
}


@media screen and (min-width: 810px) and (max-width: 1600px) {

    .logoImage {
        margin-top: 0;
        max-width: 250px;
    }


    .mainHeader {
        width: 97%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 1rem;
        height: 12.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "logo siteTitle primaryNav"
          "logo subheader1 primaryNav";
    }

    .siteTitle {
        text-align: center;
        grid-area: siteTitle; 
    }

        .logo {
            grid-area: logo;
        }

    .primaryNav {
        grid-area: primaryNav; 
    }

    
    .subheader1 {display: block; text-align: center; grid-area: subheader1; }
    .subheader2 {display: block; grid-area: subheader2; }



}



@media screen and (min-width: 1600px) {
    .mainHeader {
        width: 97%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 1rem;
        height:9rem;
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr 0.8fr 0.8fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "logo siteTitle siteTitle . ."
          "logo subheader1 subheader1 primaryNav primaryNav"
          "logo subheader2 subheader2 . .";
    }

    .siteTitle {
        text-align: center;
        grid-area: siteTitle; 
    }

    .logo {
        /* float: left; */
        max-height: 12.5rem;
        grid-area: logo;
    }

    .logoImage {
        max-width: 150px;
    }

    h1 {
        margin: 0 !important;
    }

    .logo > img {
        max-height: 12.5rem;
    }

    .primaryNav {
        grid-area: primaryNav; 
    }

    
    .subheader1 {display: block; text-align: center; grid-area: subheader1; }
    .subheader2 {display: block; grid-area: subheader2; }

    .primaryNav > ul > li {
        display:inline;
        font-size: 2rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
    }




    .logoImage {
        margin-top: 0;
    }

    #break {
        display: none;
    }


}