#landingPage {
    background-color: var(--reb-mute);
    text-align: center;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    -webkit-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.92); 
    box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.92);
}

#homeImage {
    max-width: 100%;
}

#landingPage > h3, #landingPage > p {
    font-family: 'Open Sans';
    color: black;
}






@media screen and (min-width: 800px) {
    #landingPage {
        max-width: 1000px;
        
    }
}