#picsPage {
    background-color: var(--reb-mute);
    text-align: center;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1rem 1rem 6rem 1rem;
    -webkit-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.92); 
    box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.92);
}

 

#picsPage > h3, #picsPage > p {
    font-family: 'Open Sans';
    color: black;
}


.picsImg {
    max-width: 100%;
    max-height: 480px;
}

.picsButton {
    margin: 0.5rem;
    font-size: 1.75rem;
    border-radius: 10px;
    padding: 0.5rem;
}

@media screen and (min-width: 800px) {
    #picsPage {
        max-width: 1000px;
        
    }
}