

#pricePage {
    padding: 1rem;
    border-radius: 1rem;
    border: 5px solid brown;
    background-image: url('./img/cb.jpg');
}

.priceGrid {

    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding-bottom: 5rem;
    grid-template-areas: "a"
                        "a1"
                        "a2"
                         "b"
                         "c"
                         "d"
                         "e";
}

.males1 {
    grid-area: a;
}

.males2 {
    grid-area: a1;
}

.males3 {
    grid-area: a2;
}

.females {
    grid-area: b;
}

.softshells {
    grid-area: c;
}

.fish {
    grid-area: d;
}

.other {
    grid-area: e;
}

#priceTitle {
    font-size: 2rem;
    margin: 0 auto;
    text-align:center;
}

h3, p {
    font-family: 'Fredericka the Great', cursive;
    color: white;
}

@media screen and (min-width: 768px) {
    #pricePage {
        max-width: 75%;
        margin: 1rem auto;
    }
    .priceGrid {


        text-align: left;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
        gap: 0.5rem;
        grid-template-areas: "a a1 a2 b b1"
                             "c c1 c1 d d1"
                             "e e e e e";
    }
    .males1 {
        grid-area: a;
    }

    .males2 {
        grid-area: a1;
    }

    .males3 {
        grid-area: a2;
    }
    
    .females {
        grid-area: b1;
    }
    
    .softshells {
        grid-area: c1;
    }
    
    .fish {
        grid-area: d1;
    }
    
    .other {
        grid-area: e;
    }
}