:root {
    --reb: rgb(240, 43, 73);
    --reb-mute: rgb(255, 138, 144);
    --blu: rgb(43, 240, 181);
    --blu-mute: rgb(43, 240, 181, 0.5);
}

 
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Open+Sans&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
    font-family: "IBM Plex Sans";
}

body {
    background-image: url('./components/img/IMG_0459.jpg');
    margin: 0 !important;
}

